<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Gráficos de Preços de Produtos</title>
    </head>
    <body>
        <h1>Gráficos de Preços de Produtos</h1>
        <div>
            <h2>Produto X</h2>
            <!-- Exibir Gráfico de Tendência de Preços -->
            <img th:src="@{/charts/product/3/price-trend}" alt="Gráfico de Preços do Produto X"/>
        </div>

        <h1>Relatórios de Preços de Produtos</h1>
        <div>
            <h2>Produto X</h2>
            <!-- Exibir Menor Preço -->
            <div>
                <h3>Menor Preço:</h3>
                <p th:text="${lowestPrice}">Placeholder for lowest price</p>
            </div>
            <!-- Exibir Dia Mais Barato -->
            <div>
                <h3>Dia Mais Barato:</h3>
                <p th:text="${cheapestDay}">Placeholder for cheapest day</p>
            </div>
        </div>
    </body>
</html>